{% extends "template_base.html" %}
{# See admin_tools.views_password_reset.WeVotePasswordResetView for the view that controls this #}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <h1>Reset Password</h1>
  <br />

  <p>
    Enter the email address you use to sign in to WeVoteServer and we will send you a link
    to choose a new password.
  </p>
  <br />

  <form method="post" action="">
    {% csrf_token %}
    {% if form.email.errors %}
      <p style="color: red;">{{ form.email.errors|join:" " }}</p>
    {% endif %}
    <div class="control-group">
      <label class="control-label" for="id_email">Email</label>
      <div class="controls">
        <input type="email"
               id="id_email"
               name="email"
               placeholder="Email"
               autocomplete="email"
               required
               style="width: 250px" />
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Send Reset Link</button>
      </div>
    </div>
  </form>

  <br />
  <p><a href="{% url 'login' %}">Back to sign in</a></p>
{% endblock %}
