
{# templates/office/office_explanation_new.html #}
{% extends "template_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }} - We Vote{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="post" action="{% url 'office:office_explanation_new' %}">
        {% csrf_token %}
        <label for="office_we_vote_id">{% trans "Office We Vote ID:" %}</label><br />
        <input type="text" id="office_we_vote_id" name="office_we_vote_id" value="{{ office_we_vote_id }}" size="60"/><br /><br /> 
        <label for="explanation_text">{% trans "Explanation Text:" %}</label><br />
        <textarea id="explanation_text" name="explanation_text" rows="10" cols="80">{{ explanation_text }}</textarea><br /><br />
        <input type="submit" value="{% trans "Submit" %}" />
    </form>

{% endblock content %}