{# templates/email_outbound/audience_filter_chain.html #}
  
{% load template_filters %}

{% for filter_id_string in filter_id_string_list %}
    {{ audience_filter_html_dict|get_value_from_dict:filter_id_string|safe }}
    <br />
    <br />
    
{% if filter_operand_to_follow_dict|get_value_from_dict:filter_id_string %}
    {{ filter_operand_to_follow_dict|get_value_from_dict:filter_id_string|safe }}
    <br />
    <br />
    <br />
{% else %}
    ** ADD new audience_filter here **
    <br />
{% endif %}
--- END OF audience_filter_chain row ---
<br />
{% endfor %}
--- END OF audience_filter_chain.html ---
<br />
