{# templates/email_outbound/email_template_edit.html #}
{% extends "template_base.html" %}

{% block title %}Email Templates > New Email Template{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}
{% include "admin_tools/loading_banner.html" %}
    
    <a href="{% url 'email_outbound:email_template_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
        < Back to Email Templates</a>

<h1>Email Templates > New Email Template</h1>

{% endblock %}